<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OperateLogMapper">

    <insert id="insertLog">
        insert into operate_log(employee_id, operate_time, operate_class, operate_method,method_params, method_result, cost_time)
        values (#{employeeId}, #{operateTime}, #{operateClass}, #{operateMethod}, #{operateParams}, #{methodResult}, #{costTime})
    </insert>
</mapper>
