<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
        insert into orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status,
                            amount, remark, phone, address, consignee, estimated_delivery_time, delivery_status,
                            pack_amount, tableware_number, tableware_status)
        values
            (#{number},#{status},#{userId},#{addressBookId},#{orderTime},#{checkoutTime},#{payMethod},
             #{payStatus},#{amount},#{remark},#{phone},#{address},#{consignee},#{estimatedDeliveryTime},
             #{deliveryStatus},#{packAmount},#{tablewareNumber},#{tablewareStatus})
    </insert>

    <update id="updateOrderStatus">
        update orders set status=#{status} where number= #{orderNumber}
    </update>

    <select id="pageViewHistoryOrders" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="userId != null">
                user_id=#{userId}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="number != null">
                and number=#{number}
            </if>
            <if test="phone != null">
                and phone=#{phone}
            </if>
            <if test="beginTime != null">
                and order_time > #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt; #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="begin != null">
                order_time &gt; #{begin}
            </if>
            <if test="end != null">
                and order_time &lt; #{end}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="pageViewOrderByAdcode" resultType="com.sky.temp.OrdersAndLocation">
        select orders.*, address_book.location,address_book.adcode from orders left join address_book  on address_book.id = orders.address_book_id
        where address_book.adcode=#{adcode} and orders.status=3
    </select>

    <update id="riderTakeOrder">
        update orders set status=#{status},rider_id=#{riderId},version=#{version}+1 where id=#{orderId} and version=#{version}
    </update>

    <select id="getOrderLocationById" resultType="com.sky.temp.OrdersAndLocation">
        select  orders.*,address_book.location,address_book.adcode
        from orders left join address_book on address_book.id=orders.address_book_id
        where orders.id=#{orderId}
    </select>

    <update id="payOrder">
        update orders set pay_status=2,pay_method=#{payMethod},checkout_time=#{now},status=2 where number=#{orderNumber}
    </update>

    <select id="getGoingOrder" resultType="com.sky.temp.OrdersAndLocation">
        select orders.*, address_book.location,address_book.adcode
        from orders
        left join address_book
        on address_book.id = orders.address_book_id
        where orders.rider_id=#{riderId} and orders.status=4
    </select>

    <update id="updateOrder">
        update orders
        <set>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="deliveryStatus != null">
                delivery_status=#{deliveryStatus},
            </if>
            <if test="deliveryProof != null">
                delivery_proof=#{deliveryProof},
            </if>
            <if test="deliveryTime != null">
                delivery_time=#{deliveryTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="remark != null and remark !='' ">
                remark=#{remark},
            </if>
            <if test="cancelReason!= null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="cancelTime!= null">
                cancel_time=#{cancelTime},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="sumRiderTodayIncome" resultType="java.math.BigDecimal">
        select sum(amount)
        from orders
        where rider_id=#{riderId} and order_time &gt; #{begin} and order_time &lt; #{end} and status=5
    </select>
    <select id="merchant_pageViewHistoryOrders" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="ordersPageQueryDTO.userId != null">
                user_id=#{ordersPageQueryDTO.userId}
            </if>
            <if test="ordersPageQueryDTO.status != null">
                and status=#{ordersPageQueryDTO.status}
            </if>
            <if test="ordersPageQueryDTO.number != null">
                and number=#{ordersPageQueryDTO.number}
            </if>
            <if test="ordersPageQueryDTO.phone != null">
                and phone=#{ordersPageQueryDTO.phone}
            </if>
            <if test="ordersPageQueryDTO.beginTime != null">
                and order_time > #{ordersPageQueryDTO.beginTime}
            </if>
            <if test="ordersPageQueryDTO.endTime != null">
                and order_time &lt; #{ordersPageQueryDTO.endTime}
            </if>
            and merchant_id = #{merchantId}
        </where>
        order by order_time desc
    </select>


</mapper>