<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.RiderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into rider (phone, password, openid, register_time, sex, avatar, name)
        values (#{phone}, #{password}, #{openid}, #{registerTime}, #{sex}, #{avatar}, #{name})
    </insert>

    <select id="selectById" resultType="com.sky.entity.Rider">
        select * from rider where id = #{id}
    </select>
</mapper>
